/* ONLY VISIBLE FOR SMALL DEVICES */
.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200; /* debe estar por encima del backdrop */
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out; /* this will be important for opening and closing the sidedrawer*/
}

/* media querie to determinate what happens on bigger devices */
@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%); /* lo va a ocultar hacia la izquierda */
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}